.main_table {
  background-color: white;
  border-radius: 5px;
  width: 1000px;
  grid-area: 2 / 2 / 3 / 3;
}

.table_heading {
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin-top: 35px;

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    background-color: black;
    border-radius: 30px;
    padding: 6.5px 13px;
    font-size: 13px;
  }
}

 

.page_title {
  flex: 1;
  margin: 0;
}

.searchbox {
  display: grid;
  justify-content: left;
}

.searchbox input {
  width: 56rem;
  margin: 0px 52px;
  margin-top: 45px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  border-radius: 3px;
  border: 1px solid;
  border-color: rgb(152, 152, 152);
  outline: none;
  padding: 8px 4px;
}

.searchbox input:focus {
  border: 1.5px solid rgb(0, 191, 255);
}

.tabular {
  margin: 45px auto;
  width: 895px;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

tbody {
  padding: 25px 0px;
}

th,
td {
  text-align: center;
  border-bottom: 1px solid rgb(152, 152, 152);
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 18px 0px;
  font-family: "Roboto", sans-serif;
}

th {
  font-size: 17px;
  letter-spacing: 0.8px;
}

tr a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

.body_tr:hover {
  background-color: rgb(232, 232, 232);
}
